* {
font-family: 'Poiret One', cursive;
margin: 0;
padding: 0;
}

/*<--------------------index.php-------------------------------------------->*/


#accueil, #titre, #inscription {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-weight: bold;
}

.login_pw {
  padding: 0.5em;
  color: #000080;
  font-size: 1.5em;
}

.login_button {
    padding: 1em;
    border: solid 1px #000080;
    background-color: #FFF;
    width: auto;
    font-weight: bold;
}

#bouton {
  border: solid 1px #000080;
  background-color: #FFF;
  font-weight: bold;
}

#bouton:hover {
  background-color: #000080;
  color: #FFF;
  cursor: pointer;
}



/*<--------------------accueil.php-------------------------------------------->*/

#header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  background-color: #000080;
  position: fixed;
}

.container_images {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center; /*ajouter ceci car par défaut les images sont dans leur max-width*/
  margin-top: 5em;
  margin-left: 6em;
}

.images {
  max-width: 16em;
  border: solid 10px #000080;
}

.texte {
  font-size: 1.2em;
  font-weight: bold;
}

.container_images p {
  color: #000080;
}

a {
  text-decoration: none;
}


#titre_accueil {
  color: #FFF;
  margin-bottom: 0.2em;
}

#search {
  margin-right: 5.5vw;
}


#input_search {
  padding: 0.2em;
  font-weight: bold;
}


#hello {
  color:#00CCFF;
  margin-left:5.5vw;
}

#hello:hover {
  color: #FFF;
}


/*<--------------------profil.php-------------------------------------------->*/

#form_profil {
  display: flex;
  flex-flow: row wrap;
  margin-left:5.5vw;
  padding-top:10vh;
  width: 20vw;
  height: auto;
  position: absolute;
  z-index: -1;
  font-weight: bold;
  color: #000080;
  line-height: 3vh;
}

.style_form {
  border: 0;
  background-color: #000080;
  color: #FFF;
  padding: 0.5vw;
  font-size: 1em;
  font-weight: bold;
}

.style_formTitle {
  font-size: 0.8em;
  font-weight: bold;
}

.style_choice {
  border:0;
  font-size: 0.9em;
  font-weight: bold;
}

#header_profil {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #000080;
  position: fixed;
  color: #FFF;
}

#accueil {
  color:#00CCFF;
  margin-left:5vw;
}

#accueil:hover {
  color: #FFF;
}

#bouton_deco {
  border: solid 1px #FFF;
  background-color: #FFF;
  padding-right:0vw;
  margin-right:5.5vw;
  width: 5vw;
  height: 5vh;
  font-weight: bold;
}
